<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="com.reqres.test">
    <listeners>

        <listener class-name="org.uncommons.reportng.HTMLReporter" />

    </listeners>

    <test name="All-Tests">
        <classes>
            <class name="com.hellofresh.test.CountryServiceTest"></class>
        </classes>
    </test>
</suite>